.bodyd{
    background-color: white;
}

.tre{
    width: 30%;
    height: 1%;
    
  }

.tres{
    width: 30%;
    height: 1%;
    margin-left: 2%;
}


.asd{
    text-align: center;
    font-weight: 500;
    font-size: larger;
}
.vido{
    margin-left: -4%;
    
}