* {
    box-sizing: border-box;
  }
  .title{
    color: black;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 4%;
  }

 
  .titles{
    color: black;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 4%;
  }
  

  .bodying{
    background-color:white;
  }
  .column {
    float: left;
    width: 45%;
    padding: 10px;
    margin-left: 4%;
  }

  .columns {
    
    width: 90%;
    
    margin-left: 4%;
  }


  .column2{
    float: left;
    width: 45%;
    padding: 10px;
    margin-left: 0%;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .bottom-text{
    position: absolute;
  bottom: 18%;
  margin-left: 2%;
  font-size: larger;
  color: white;
  }

  .bottom{
    position: absolute;
    bottom: 18%;
    margin-left: 2%;
    color: white;
    font-size: larger;
  }
  
  .bottomss{
    position: absolute;
    bottom: 17%;
    font-family: fantasy;
    font-size:500%;
    margin-left: 2%;
    color: white;
    
  }

  .shope{
    width: 7%;
    height: 8%;
    position: absolute;
    margin-left: -42%;
    bottom: 7%;
    background-color: white;
    border-radius: 35px;
    border: none;
  }

  .shopse{
    width: 7%;
    height: 8%;
    position: absolute;
    margin-left: -80%;
    bottom: 7%;
    background-color: white;
    border-radius: 35px;
    border: none;
    
  }