





.popup {
    color: #000000;
	position: fixed;
	display: none;
	z-index: 5000;
    text-align: left;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;

	> div {
		max-width: 200px; // Max-width of popup can be changed
		width: fit-content;// Width of popup
		position: relative;
		transform: translate(100%, -125%);
  		left: 50%;
	    top: 50%;
		background: whitesmoke;
		padding: 30px;
		z-index: 5001;
		
		text-align: left;
        font-size: small;
        text-align: center;
		border-radius: 10px;
	}
}

